html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:black;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mb-4 {
  width: 200px;
  height: 200px;
}
.fundo {
  color: aqua;
}
.form-control {
  background-color: black;
  
}
.mb-3 {
  color: #fff;
}

#button {
  background-color: aqua;
  color: black;
}
.btn-outline-success {
  color: aqua;
  border: solid 1px aqua;
  background-color: black;
}
:hover btn-outline-success{
  background-color: lime;
}